.masterlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.add__masterlist__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.masterlist__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.lowercase span {
  text-transform: none;
}
