.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__card {
  min-height: 420px;
}
