.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.eachInput {
    margin-bottom: 5px;
}

.btn_area {
    width: 100%;
}

.err {
    color: red;
    font-weight: bold;
}

.file_selector_width>div {
    flex-direction: row !important;
}
/* 
.sigCanvas {
  border: 1px solid #ccc;
  border-radius: 5px;
} */
