.center {
  text-align: center;
}

.new__company__modal__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.new__company__item {
  width: 80%;
  padding: 1rem;
  max-width: 350px;
}

.red {
  color: red;
}
